@font-face {
    font-family: "Plane Light";
    src: url(./fonts/plain-regular-webfont.ttf);
}
@font-face {
    font-family: "Plane Light";
    src: url(./fonts/plain-light-webfont.ttf);
}
@font-face {
    font-family: "Silk Serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}
@font-face {
    font-family: "Silk Serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
color: whitesmoke;
}

html,body {
    height:100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
/* #0b0b0b */
.mousefollower{
    border: 2px solid white;
    background-color: rgb(255, 255, 255);
    scale: 2;
    mix-blend-mode: difference;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: #030303;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
      justify-content:flex-start;
      gap: 3vw;
    }
#line1-part1{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

#line1-part1 h5, 
#line1-part1 h6{
    font-size: 3vw;
    /* background-color: red; */
    font-weight: 100;
    font-family: 'silk serif';

}

#line1-part1 h5{
    width: 4.3vw;
    text-align: right;
}
.line h1{
font-size: 6.5vw;
text-transform: uppercase;
font-weight:900;

}
.line h2{
font-size :4.5vw;
font-weight:900;
/* animation-name: loaderAnime; */
animation-duration: 1s;
animation-iteration-count:infinite;
}
#main{
    position: relative;
    background-color: #030303;
}

@keyframes loaderAnime{
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    45%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 1;
}
    100%{
        font-family: "silk serif";
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 0;
    }
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    z-index: 0;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
#navpart2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}
#navpart2 h4{
    font-size: 1.8vh;
    font-weight: 500;
}
.hero {
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* position: relative; */
    z-index: 999;

}
#hero1 h1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    left: -10%;
    top: 10%;
}
.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{
    font-size: 6.2vw;
    text-transform: uppercase;
    line-height: 6.5vw;
}

#hero1::before {
    content: "01";
    font-family: "silk serif";
    font-style: italic;
    position: absolute;
    font-size: 3.3vw;
    font-weight: 500;
    left: 18%;
    top: 28%;
}
.hero h2 {
    font-size: 6.5vw;
    border-bottom: 0.4vw solid #ffff;
    padding-bottom: 0.1vw;
    
}

.hero h2:hover {
    -webkit-text-stroke: 1px #dadada;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.1vw solid #0f0f0f5f;
    
}


#page2{
    height: 100vh;
    width: 100%;
    padding-top:5vh;
    position: relative;
    background-color: #151515;
}
#video-container{
    height: 66vh;
    width: 71vw;
    object-fit: cover;
    position: relative;
    left: 28%;

}

#video-container {
    height: 66vh;
    width: 71vw;
    object-fit: cover;
    position: relative;
    left: 28%;
    background-size: cover;
    background-position: center;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
#video-cursor{
    background-color: orange;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
   top:-10%;
   left: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
    position: absolute;
    z-index: 999;
}
#video-cursor i{
 font-size: 2vw;
 left:41%;
 position: absolute;
}
#page3{
 min-height: 100vh;
 width: 100%;
 background-color: #0f0f0f;
 position: relative;
 padding: 17vw 2vw;
}
#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
   }
   #page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    left: -12%;
    top: 8%;
}
#page3 .underline{

    margin-left: 28vw;
}

#img-div{
    position: relative;
    overflow: hidden;
    /* background-color: red; */
    height: 38vw;
    width: 27vw;
    margin: 2vw;
    flex-shrink: 0;
}
#img-div:nth-child(1){
    height: 29vw;
    width: 22vw;
}
#img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: #0f0f0f; */
    position: relative;
    padding: 7vh 0;
   }
   #page4content{
    width: 72vw;
    margin-left: 28%;
   }
   #page4content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
   }
   #page4content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    left: -10%;
    top: 10%;
}
   #page4content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
   }
   #page4content>p {
    font-size: 2.1vw;
    width: 50%;
    margin-bottom: 3vw;
   }
   #page4-flex{
    display: flex;
   }
   #page4-flex img{
    width: 40%;

   }
   #page4-flex p{
    font-size: 1vw;
    width: 19%;
    margin-left: 1vw;
   }
   #page4-blue-div{
    background-color: #3f7df4;
    width: 33vw;
    padding: 1.5vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 22vw;


   }
   #blue-div-elem{
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 0;
    border-bottom: 2px solid #ffffffa0;
   }
   #blue-div-elem h4{
     font-size: 1.4vw;
     font-weight: 500;
   }
   #blue-div-elem p{
    width: 50%;
  
   }
   #page5{
    min-height: 100vh;
    width: 100%;
   }
   #elem2{
    white-space: nowrap;
    overflow-x: hidden;
   }
#elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    transform: translateX(calc(-100 -20 ));
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes anime {
    from{
        transform:translateX(0);

    }
    to{
        transform: translateX(calc(-100% - 10px));
    }
}
#elem{
    white-space: nowrap;
    overflow-x: hidden;
   }
#elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation: anime;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.elem span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.elem2 span{
    font-style: italic;
    font-family: 'silk serif';
    color: transparent;
}
#footer{
    margin-top: 20vh;
    height: 85vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
}
#footer h1{
    font-size: 7vw;
    width: 60vw;
    text-transform: uppercase;
    position: relative;
    /* background-color: blue; */
}
#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    left: -10%;
    top: 10%;
}
.underline{
    height : 2px ;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}
#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 5vw;
    padding-top: 1.3vw;
    margin-bottom: 1.5vw;
}
#footer-div h6{
    font-size: 1vw;
}
.box{
    width: 20%;
}
#footer-div h5{
    font-size: 1.2vw;
    margin: 1.2vh 0;
}
footer>h5{
    font-weight: 500;
    font-size: 1vw;
}
#img-div-container{
    /* background-color: #3f7df4; */
padding: 0.5vw;
position: relative;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-wrap: wrap;
flex-shrink: 0;

}
._canvas_container{
    z-index:999 !important;
    pointer-events: none;
}
#page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-top: 20vh;
    margin-left: 10vw;
    justify-content: center;
    position: relative;
}
#page3-circle1 svg{
    height: 30%;
    
}

#page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-top: 20vh;
    margin-left: 10vw;
    justify-content: center;
    position: relative;
}
#page3-circle2 svg{
    height: 30%;
    rotate: 320deg;
    
}
.circle-in {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    border-radius: 50%;
    transition-delay: 0.6s;
  transition: all ease 0.3s;

}
.circle-in p{
    scale: 0;
    font-size: 0.95vw;
font-weight: 500;
    color: #000;
    width: 70%;
    transition: all ease 0.3s;
    opacity: 0;
    transition-delay: 0.5s;
}
#page3-circle1:hover .circle-in{
    scale: 1;
}
#page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

.circle-in p{
    scale: 0;
    font-size: 0.95vw;
font-weight: 500;
    color: #000;
    width: 70%;
    transition: all ease 0.3s;
    opacity: 0;
    transition-delay: 0.5s;
}
#page3-circle2:hover .circle-in{
    scale: 1;
}
#page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}

#flag{
    height: 20vw;
    position: absolute;
    top:0;
    left: 0;
    transform: translate(-50%,-50%);
    opacity: 0;
}
#hero3{
    /* background-color: red; */
    z-index: 9999;
    position: relative;
}
/* //////////////////////////////////
/////////////////////////////
//////////////
///////////////////////// */
@media (max-width:600px) {
    
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: #030303;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
      justify-content:flex-start;
      gap: 3vw;
    }
#line1-part1{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

#line1-part1 h5, 
#line1-part1 h6{
    font-size: 7.5vw;
    /* background-color: red; */
    font-weight: 100;
    font-family: 'silk serif';

}

#line1-part1 h5{
    width: 7.9vw;
    text-align: right;
}
.line h1{
font-size: 6.9vw;
text-transform: uppercase;
font-weight:900;

}
.line h2{

font-size :5.8vw;
font-weight:900;
/* animation-name: loaderAnime; */
animation-duration: 1s;
animation-iteration-count:infinite;
}
#main{
    position: relative;
    background-color: #030303;
}

@keyframes loaderAnime{
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    45%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 1;
}
    100%{
        font-family: "silk serif";
        color: #fff;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 0;
    }
}

#page1{
    height: 55vh;
    width: 100%;
    /* background-color: #151515; */
    position: relative;
    z-index: 100;
    padding-top: 1px;
}
#page1 #nav{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 3.3vw 5vw;
}
#nav svg{
    scale: 0.8;
}
#navpart2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    display: none;
}
#navpart2 h4{
    font-size: 1.8vh;
    font-weight: 500;
}
.hero {
    /* background-color: red; */
    width: 72%;
    margin-left: 7%;
    height: fit-content;
    overflow-y: hidden;
    display: flex;
    align-items: center;  
    /* position: relative; */
    /* z-index: 999; */

}
#hero1 h1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    left: -10%;
    top: 10%;
}
.hero:nth-child(2){
    margin-top: 22vh;
}
.hero h1{
    font-size: 9.6vw;
    text-transform: uppercase;
    /* font-weight: 0; */
    line-height: 10.2vw;
    position: relative;
}

#hero1::before {
    content: "01";
    font-family: "silk serif";
    font-style: italic;
    position: absolute;
    font-size: 5.3vw;
    font-weight: 500;
    left: 5%;
    top: 35%;
}
.hero h2 {
    font-size: 9.5vw;
    border-bottom: 0.6vw solid #ffff;
    padding-bottom: 0.1vw;
    line-height: 10vw;
}



#page2{
    height: 60vh;
    width: 100%;
    padding-top:0vh;
    position: relative;
    background-color: #151515;
}

#video-container {
    height: 50vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
    left:0%;
    background-size: cover;
    background-position: center;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
#video-cursor{
    background-color: orange;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   display: flex;
   align-items: center;
   justify-content: center;
    position: absolute;
    z-index: 999;
}
#video-cursor i{
 font-size: 5vw;
 left:41%;
 position: absolute;
}
  
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    position: relative;
    padding: 17vw 3vw;
   }
    
   #page3 h1{
       font-size: 9.5vw;
       text-transform: uppercase;
       position: relative;
       margin-left: 2vw;
       margin-bottom: 5vw;
      }
      #page3 h1::before{
       content: "02";
       position: absolute;
       font-size: 5vw;
       font-family: 'silk serif';
       left: 2%;
       top: -50%; 
   }
   #page3 .underline{
   
       margin-left: 2vw;
       width: 94%;
   }
   
   #img-div{
       position: relative;
       overflow: hidden;
       /* background-color: red; */
       height: 110vw;
       width: 94vw;
        margin-right: 10vh;
     margin-bottom:3vw;
       flex-shrink:0;
   }
   #img-div:nth-child(1){
    height: 110vw;
    width: 94vw;
   }
   #img-div img{
       height: 100%;
       width: 100%;
       margin: 10vh;
       object-fit: cover;
       object-position: center;
   }
     
#img-div-container{
    /* background-color: #3f7df4; */
padding: 0.5vw;
margin-top: 10vw;
position: relative;

display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-wrap: wrap;
/* flex-shrink: 0; */
flex-direction: column;

}
._canvas_container{
    z-index:9999 !important;
    pointer-events: none;
}
#page3-circle1{
 
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-top: 20vh;
    margin-left: 10vw;
    justify-content: center;
    position: relative;
    display: none;
}
#page3-circle1 svg{
    height: 30%;
    
}

#page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-top: 20vh;
    margin-left: 10vw;
    justify-content: center;
    position: relative;
    display: none;
}

#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: #0f0f0f; */
    position: relative;
    padding: 5vw;
   }
   #page4content{
    width: 90vw;
    position: relative;
    margin-left: 0%;
   }
   #page4content h1{
    font-size: 9.5vw;
    text-transform: uppercase;
    position: relative;
   }
   #page4content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    left: -12%;
    top: 8%;
}
   #page4content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 7vw 0 8vw 0;
   }
   #page4content>p {
    font-size: 5.1vw;
    width: 50%;
    margin-bottom: 3vw;
   }
   #page4-flex{
    display: flex;
    flex-direction: column;
   }
   #page4-flex img{
    width: 100%;
    margin: 5vw 0 8vw 0;

   }
   #page4-flex p{
    font-size: 4vw;
    width: 90%;
    margin-bottom: 5vw;
    /* margin-left: 1vw; */
   }
   #page4-blue-div{
    background-color: #3f7df4;
    width: 90vw;
    padding: 5vw;
    position: relative;
    margin-top: 0vh;
    margin-left: 0vw;
    padding-bottom: 7.5vw;
   }
   #blue-div-elem{
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4.7vw 0;
    border-bottom: 2px solid #ffffffa0;
   }
   #blue-div-elem h4{
     font-size: 5.4vw;
     font-weight: 500;
   }
   #blue-div-elem p{
    width: 40%;
    font-size: 2 .8vw ;
   }

   #page5{
    min-height: 0vh;
    width: 100%;
   }
   #elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
   }
#elem2 h1{
    font-size: 14vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    transform: translateX(calc(-100 -20));
    animation-name: anime;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes anime {
    from{
        transform:translateX(0);

    }
    to{
        transform: translateX(calc(-100% - 10px));
    }
}
#elem{
    white-space: nowrap;
    overflow-x: hidden;
   }
#elem h1{
    font-size: 14vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation: anime;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.elem span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.elem2 span{
    font-style: italic;
    font-family: 'silk serif';
    color: transparent;
}
#footer{
    /* height: 105vh;
    width: 100%; */
    position: relative;
    padding-left: 5vw;
    padding-right: 5vw;
}
#footer h1{
    font-size: 12.5vw;
    text-transform: uppercase;
    position: relative;
    /* background-color: blue; */
}
#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 5vw;
    font-family: 'silk serif';
    left: 0%;
    top: -20%;
}
.underline{
    height : 2px ;
    width: 100%;
    background-color: #fff;
    margin: 7vw 0;
}
#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 5vw;
    padding-top: 1.3vw;
    margin-bottom: 1.5vw;
    flex-direction: column;
}
#footer-div h6{
    font-size: 6vw;
}
.box{
    width: 20%;
    margin-bottom: 5vw;
}
#footer-div h5{
    font-size: 4.2vw;
    margin:0.9;
}
footer>h5{
    font-weight: 500;
    font-size: 1vw;
    margin: 0vw;
}

}